<div class="wrapper">
    <div class="menu">
        <ul>
            <li><a href="#">WorldBank</a></li><li>IFC</li>
            <li>MIGA</li>
        </ul>
    </div>
    <div class="search-box">
        <div><input type="text" class="form-control" placeholder="Search project" aria-label="Search project"></div>
    </div>
    <div class="filters"></div>
    <div class="top-projects">
        <div class="top-projects-title">Top Projects</div>
        <ul>
            <li><span>1.</span>Social, Urban, Rural & Resili </li>
            <li><span>2.</span>Energy & Extractives </li>
            <li><span>3.</span> Transport & Digital Develop </li>
        </ul>
    </div>
    <div class="top-countries"></div>
</div>
